{
  "presets": [
      ["env", {
              "targets": {"node": true},
              //会加载所有polyfill
              "useBuiltIns":true
          }
      ]
  ],
  "plugins": [
      "transform-decorators-legacy",
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
  ]
}